# Python
__pycache__/
*.py[cod]
*$py.class
backend/backend.log
frontend/frontend.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Others
.DS_Store
*.swp

# Local Dev Scripts
frontend/start_server.py
frontend/start_frontend.py
